@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500&display=swap');
:root {
  --color-orange-light: #efdbc8;
  --color-orange: #e9c87f;
  --color-blue-light: #b2e1ea;
  --color-blue: #90cae5;
  --color-blue-dark: #204379;
  --color-purple-light: #f5caf4;
  --color-purple: #dfc9f9;
  --color-brown-light: #D3A995;
  --color-brown: #B57556;
  --color-background-light: #DAE4F1;
  --color-background-dark: #204379;
  --color-background-form: #E2D9D3;
  --color-gray-light: #BDBDBD;
  --color-system-blue: #1E90FF;
  --color-store-quality-green: #B3B960;
  --color-store-quality-blue: #A0BCC8;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  overflow-x: hidden;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}